@import "variables";
@import "reset";

.widget {
    display: inline-flex;
    margin-right: 1rem;
    margin-bottom: 1rem;

    > article {
        border: 1px solid $border-color;
        border-radius: $border-radius;

        > h2 {
            padding: 0 1rem;
            line-height: 2em;
            border-bottom: 1px solid $border-color;
        }

        > p {
            padding: 2rem;
            margin: 0;
        }
    }
}
